*.iml
.gradle
/local.properties
.idea/**
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/nativevpn/src/main/cpp/deps/softether_third_party/**
/nativevpn/src/main/cpp/deps/build/**
/nativevpn/src/main/jniLibs
/nativevpn/src/main/cpp/deps/build/
/nativevpn/src/main/cpp/deps/iconv/
/nativevpn/src/main/cpp/deps/libsodium/
/nativevpn/src/main/cpp/deps/openssl/
/nativevpn/src/main/cpp/deps/softethervpn/

