*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
**/deps/external/*
**/deps/build/*
**/cpp/build/*
**/jniLibs/*/hamcore.se2.so
**/jniLibs/*/libcedar.so
**/jniLibs/*/libmayaqua.so
**/jniLibs/*/libsoftethervpnclient.so
**/hamcorebuilder
